<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.literem.matrix.music">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <activity android:name="com.literem.matrix.music.activity.MusicActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.literem.matrix.music.activity.AddLyricActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.literem.matrix.music.activity.LyricMakeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.literem.matrix.music.activity.ScanMusicActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.literem.matrix.music.activity.TextEditActivity" android:screenOrientation="portrait"/>

        <service android:name="com.literem.matrix.music.service.MusicService"/>
    </application>

</manifest>