<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.literam.matrix">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" /> <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许修改网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许修改wifi状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_permission_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <!-- android:theme="@style/Theme.LauncherActivityTheme" -->
        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LauncherActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DisplayScrollActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DisplayStaticActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DisplayClockActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DisplayModuleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TerminalActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DisplayFrameActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait" />
    </application>

</manifest>