<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.literem.matrix.common" >

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 允许程序发现和配对蓝牙设备。 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 连接蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- 扫描蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
